body{
	width: 100%;
	height: 100%;
}

div{
	box-sizing: border-box;
}

h1{
	padding: 15px 25px 0 25px;
	margin-bottom: 0;
	text-align: center;
}
label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 30px;
    margin-left: 0px;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
	font-weight: bold;
}
input {
    height: 20px;
    width: 200px;
    border: 1px solid #000;
    margin-top: 30px;
    float: left;
}

.centerGridContainer{
	width: 500px;
	height: 700px;
	background-color: #7cf2c7;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	padding-bottom: 15px;
	border-radius: 25px;
}

.centerGridItemSignupPage{
	width: 450px;
	height: 75px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}

.centerGridItemSecurityQuestions{
	width: 450px;
	height: 50px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}

.centerGridItemQualityOfLife{
	width: 450px;
	height: 175px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}

.centerGridItemLoginPage{
	width: 450px;
	height: 100px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}

.centerGridItemPasswordReset{
	width: 450px;
	height: 75px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}

.centerGridItemAccount{
	width: 450px;
	height: 175px;
	background-color:#c2edde;
	margin: auto;
	padding: 5px;
	border-radius: 15px;
}
.button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
  }
.button-3 {
    appearance: none;
    background-color: #589c84;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #406f5f;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	height: 300px;
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }